<template name="adminTutorHours">
    
    <br>
    
    <div class="row">
        <div class="col s1s">Time</div>
        <div class="col s1s">Mon</div>
        <div class="col s1s">Tue</div>
        <div class="col s1s">Wed</div>
        <div class="col s1s">Thu</div>
        <div class="col s1s">Fri</div>
        <div class="col s1s">Sat</div>
        <div class="col s1s">Sun</div>
    </div>
    
        <div class="row">
        <div class="col s1s">09-10:00</div> 
        <div class="col s1s free" id="m0910">    &nbsp;</div>
        <div class="col s1s free" id="t0910">    &nbsp;</div>
        <div class="col s1s free" id="w0910">    &nbsp;</div>
        <div class="col s1s free" id="th0910">   &nbsp;</div>
        <div class="col s1s free" id="f0910">    &nbsp;</div>
        <div class="col disable">&nbsp;</div>
        <div class="col disable">&nbsp;</div>
    </div>
    
        <div class="row">
        <div class="col s1s">10-11:00</div>
        <div class="col s1s free" id="m1011"> &nbsp;  </div>
        <div class="col s1s free" id="t1011"> &nbsp;   </div>
        <div class="col s1s free" id="w1011"> &nbsp;   </div>
        <div class="col s1s free" id="th1011">&nbsp;    </div>
        <div class="col s1s free" id="f1011">&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
    </div>
    
        <div class="row">
        <div class="col s1s">11-12:00</div>
       <div class="col s1s free" id="m1112">&nbsp;    </div>
        <div class="col s1s free" id="t1112">&nbsp;    </div>
        <div class="col s1s free" id="w1112">&nbsp;    </div>
        <div class="col s1s free" id="th1112">&nbsp;    </div>
        <div class="col s1s free" id="f1112">&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
    </div>
    
        <div class="row">
        <div class="col s1s">12-01:00</div>
       <div class="col s1s free" id="m1201"> &nbsp;   </div>
        <div class="col s1s free" id="t1201"> &nbsp;   </div>
        <div class="col s1s free" id="w1201"> &nbsp;   </div>
        <div class="col s1s free" id="th1201"> &nbsp;   </div>
        <div class="col s1s free" id="f1201"> &nbsp;   </div>
        <div class="col s1s free" id="sa1201"> &nbsp;   </div>
        <div class="col s1s free" id="su1201"> &nbsp;   </div>
    </div>
    
    
        <div class="row">
        <div class="col s1s">01-02:00</div>  
        <div class="col s1s free" id="m0102">&nbsp;    </div>
        <div class="col s1s free" id="t0102">&nbsp;    </div>
        <div class="col s1s free" id="w0102">&nbsp;    </div>
        <div class="col s1s free" id="th0102">&nbsp;    </div>
        <div class="col s1s free" id="f0102">&nbsp;    </div>
        <div class="col s1s free" id="sa0102">&nbsp;    </div>
        <div class="col s1s free" id="su0102">&nbsp;   </div>
    </div>
    
    
        <div class="row">
        <div class="col s1s">02-03:00</div>
       <div class="col s1s free" id="m0203">&nbsp;    </div>
        <div class="col s1s free" id="t0203">&nbsp;    </div>
        <div class="col s1s free" id="w0203">&nbsp;    </div>
        <div class="col s1s free" id="th0203">&nbsp;    </div>
        <div class="col s1s free" id="f0203">&nbsp;    </div>
        <div class="col s1s free" id="sa0102">&nbsp;    </div>
        <div class="col s1s free" id="su0102">&nbsp;    </div>
    </div>
    
    
        <div class="row">
        <div class="col s1s">03-04:00</div>
        <div class="col s1s free" id="m0304">&nbsp;    </div>
        <div class="col s1s free" id="t0304">&nbsp;    </div>
        <div class="col s1s free" id="w0304">&nbsp;    </div>
        <div class="col s1s free" id="th0304">&nbsp;    </div>
        <div class="col s1s free" id="f0304">&nbsp;    </div>
        <div class="col s1s free" id="sa0304">&nbsp;    </div>
        <div class="col s1s free" id="su0304">&nbsp;    </div>
    </div>
    
     <div class="row">
        <div class="col s1s">04-05:00</div>
        <div class="col s1s free" id="m0405">&nbsp;    </div>
        <div class="col s1s free" id="t0405">&nbsp;    </div>
        <div class="col s1s free" id="w0405">&nbsp;    </div>
        <div class="col s1s free" id="th0405">&nbsp;    </div>
        <div class="col s1s free" id="f0405">&nbsp;    </div>
        <div class="col s1s free" id="sa0405">&nbsp;    </div>
        <div class="col s1s free" id="su0405">&nbsp;    </div>
    </div>
    
    
     <div class="row">
        <div class="col s1s">05-06:00</div>
        <div class="col s1s free" id="m0506">&nbsp;    </div>
        <div class="col s1s free" id="t0506">&nbsp;    </div>
        <div class="col s1s free" id="w0506">&nbsp;    </div>
        <div class="col s1s free" id="th0506">&nbsp;    </div>
        <div class="col disable"            >&nbsp;    </div>
        <div class="col s1s free" id="sa0506">&nbsp;    </div>
        <div class="col s1s free" id="su0506">&nbsp;    </div>
    </div>
    
    
     <div class="row">
        <div class="col s1s">06-07:00</div>
        <div class="col s1s free" id="m0607">&nbsp;    </div>
        <div class="col s1s free" id="t0607">&nbsp;    </div>
        <div class="col s1s free" id="w0607">&nbsp;    </div>
        <div class="col s1s free" id="th0607">&nbsp;    </div>
        <div class="col disable"            >&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
        <div class="col disable">&nbsp;    </div>
    </div>
    <p style="font-size:16px; margin-left:40%">
            {{showNumberofSellection}}
    </p>
    <!--
     <div class="row">
        <div class="col s1s">07-08:00</div>
        <div class="col s1s">    </div>
        <div class="col s1s">    </div>
        <div class="col s1s">    </div>
        <div class="col s1s">    </div>
        <div class="col s1s">    </div>
        <div class="col s1s disable">    </div>
        <div class="col s1s disable">    </div>
    </div>
    -->
    
        <div class="centered" style="margin-left:36%">
            <a class="waves-effect waves-light btn">Submit</a>
            <a class="waves-effect waves-light btn" style="margin-left:2%" href="{{pathFor 'adminPromoteStudent'}}">Cancel</a>
        </div>
</template>