<template name='adminPromoteStudent'>
    <br>
    <table class="bordered" style="margin-left:28%">
        <thead>
            <tr>
                <th data-field="id">Name</th>
                <th data-field="promote">Promote Button</th>
            </tr>
        </thead>
        <tbody>
            {{#each studentsToPromote}}
                <tr>
                    <td>
                        {{profile.name}}
                    </td>
                    <td>
                        <a class="waves-effect waves-light btn" href="{{pathFor 'adminTutorCourse'}}">PROMOTE TO TUTOR</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    
    
    <!--
    <table class="bordered" style="margin-left:28%">
        <thead>
            <tr>
                <th data-field="id">Department Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each studentsToPromote}}
                <tr>
                    <td>
                        {{deptName}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    -->
</template>