<template name="dialog">
    <div class="modal" id="fullcalendardialog" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 class="modal-title" id="">
                        Edit Event
                    </h4>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <p>{{title}}</p>
                        <label for="tutor">Tutor</label>
                        <p></p>
                        <label for="time">Time</label>
                        <p></p>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-default closeDialog" data-dismiss="modal">Close</button>
                </div>
                
            </div>
        </div>
    </div>
</template>