
<template name="home">
    <h1 class="center">Welcome to Grizzly TutorSpark!</h1>
        <br>
    <table class="centered">
        <thead>
            <tr>
                <th>
                    Step 1: Select Your Courses
                </th>
                <th>
                    Step 2: Find a Tutor
                </th>
                <th>
                    Step 3: View Your Schedule
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Here's a line of text
                        <br>
                    and another line of text
                </td>
                <td>
                    Here's a second set of
                        <br>
                    text about something
                </td>
                <td>
                    And one last line
                        <br>
                    of text
                </td>
            </tr>
        </tbody>
    </table>
</template>
